@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
/* Main Color Palette: https://colorhunt.co/palette/0a1931185adbffc947efefef */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./Images/bg-white.jpg);
}

/* Navbar CSS */
header li, a, button, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.brand {
    font-family: 'Uchen', serif;
    font-size: x-large;
    letter-spacing: 0.2rem;
    cursor: pointer;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 6%;
    background-color: rgb(10,25,49);
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    opacity: 0.8;
}

.cta {
    color: rgb(10,25,49);
    margin-left: 20px;
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.03);

}

/* Slideshow CSS */
.container {
    height: auto;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    position: relative;
    background: #0a1931;
    width: 1000px;
    min-height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider .slide .info{
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    width: 75%;
    margin-top: 335px;
    margin-left: 15px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
  }
  
  .slider .slide .info h2{
      color: #6d6d6d;
    font-size: 2em;
    font-weight: 800;
  }
  
  .slider .slide .info p{
    color: rgb(54, 52, 52);
    font-size: 1.05em;
    font-weight: 400;
  }
  
  .navigation{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: #185ADB;
  }
  
  @media (max-width: 900px){
    .slider{
      width: 100%;
    }
  
    .slider .slide .info{
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 500px){
    .slider .slide .info h2{
      font-size: 1.8em;
      line-height: 40px;
    }
  
    .slider .slide .info p{
      font-size: 0.9em;
    }
  }

.slider-img {
    opacity: 0.6;
}

.ctxt {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px -20px 10px;
    margin-bottom: -20px;
}

.ctxt p {
    color: #393E46;
    font-size: 140%;
    font-weight: 500;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin-left: 5px;
}

.ctxt h3 {
    color: rgb(10,25,49);
    font-size: 250%;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-weight: bold;
}

hr {
    width: 9%;
    margin-left: auto;
    margin-right: auto;
}

/* Card CSS */
.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 30px;
}

.card {
  background: white;
  width: 390px;
  margin: 10px;
  border-radius: 15px;
}

.card-img {
  height: 250px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card-1 {
  background-image: url(./Images/covid.jpg);
}

.card-2 {
  background-image: url(./Images/vaccine.jpg);
}

.card-3 {
  background-image: url(./Images/hospital.jpg);
}

.card p {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
}

.info p {
  font-family: "Montserrat", sans-serif;
}

.card a{
  background-color: #0a1931;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
}

.card h2 {
  color: black;
  font-size: x-large;
  padding: 10px;
  text-align: center;
}

.card:hover {
  transform: scale(1.03);
  transition: all 0.10s ease;
}

/* Footer CSS */
.foot {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: #ede756;
  margin-top: auto;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #111;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .footer-container .sec {
  margin-right: 30px;
}

footer .footer-container .sec.aboutus {
  width: 40%;
}

footer .footer-container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .footer-container h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer p {
  color: #999;
}

.sci {
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgb(58, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: #f00;
}

.sci li a .fa {
  color: #fff;
  font-size: 20px;
}

.qlinks {

  position: relative;
  width: 25%;
}

.qlinks ul li {
  list-style: none;
}

.qlinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.qlinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(60% - 35%);
  margin-right: 0 !important;
}

.contact .info {
  position: relative;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span {
  color: #999;
}

.contact .info li a {
  color: #999;
  text-decoration: none;
}

.contact .info li a:hover {
  color: #fff;
}

.copyrightText {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

.about-content {
  margin-top: 30px;
}